body{
    font-family: helvetica;
}

header{
    background: lightslategray;
    height: 100px;
    text-align: center;
    color: #000;
}

h1{
    padding: 40px;
    font-size: 25px;
    font-weight: bold;
}

p{
    text-align: center;
    padding-top: 150px;
}

div{
    padding-top: 50px;
    text-align: center;
}
